<script>
import { GlTooltip, GlIcon } from '@gitlab/ui';
import { mapState, mapActions } from 'vuex';

import { issuableTypesMap } from '~/related_issues/constants';
import EpicHealthStatus from './epic_health_status.vue';
import EpicActionsSplitButton from './epic_issue_actions_split_button.vue';

export default {
  components: {
    GlTooltip,
    GlIcon,
    EpicHealthStatus,
    EpicActionsSplitButton,
  },
  computed: {
    ...mapState([
      'parentItem',
      'weightSum',
      'descendantCounts',
      'healthStatus',
      'allowSubEpics',
      'allowIssuableHealthStatus',
    ]),
    totalEpicsCount() {
      return this.descendantCounts.openedEpics + this.descendantCounts.closedEpics;
    },
    totalIssuesCount() {
      return this.descendantCounts.openedIssues + this.descendantCounts.closedIssues;
    },
    showHealthStatus() {
      return this.healthStatus && this.allowIssuableHealthStatus;
    },
    totalWeight() {
      return this.weightSum.openedIssues + this.weightSum.closedIssues;
    },
  },
  methods: {
    ...mapActions([
      'toggleCreateIssueForm',
      'toggleAddItemForm',
      'toggleCreateEpicForm',
      'setItemInputValue',
    ]),
    showAddIssueForm() {
      this.setItemInputValue('');
      this.toggleAddItemForm({
        issuableType: issuableTypesMap.ISSUE,
        toggleState: true,
      });
    },
    showCreateIssueForm() {
      this.toggleCreateIssueForm({
        toggleState: true,
      });
    },
    showAddEpicForm() {
      this.toggleAddItemForm({
        issuableType: issuableTypesMap.EPIC,
        toggleState: true,
      });
    },
    showCreateEpicForm() {
      this.toggleCreateEpicForm({
        toggleState: true,
      });
    },
  },
};
</script>

<template>
  <div class="card-header d-flex gl-px-5 gl-py-3 flex-column flex-sm-row">
    <div class="flex flex-grow-1 flex-shrink-0 gl-flex-wrap flex-column flex-sm-row">
      <div class="flex flex-shrink-0 align-items-center gl-flex-wrap">
        <h3 class="card-title h5 gl-my-0 flex-shrink-0">
          {{ allowSubEpics ? __('Child issues and epics') : __('Issues') }}
        </h3>
        <div class="d-inline-flex lh-100 align-middle gl-ml-5 gl-flex-wrap">
          <gl-tooltip :target="() => $refs.countBadge">
            <p v-if="allowSubEpics" class="font-weight-bold m-0">
              {{ __('Epics') }} &#8226;
              <span class="font-weight-normal"
                >{{
                  sprintf(__('%{openedEpics} open, %{closedEpics} closed'), {
                    openedEpics: descendantCounts.openedEpics,
                    closedEpics: descendantCounts.closedEpics,
                  })
                }}
              </span>
            </p>
            <p class="font-weight-bold m-0">
              {{ __('Issues') }} &#8226;
              <span class="font-weight-normal"
                >{{
                  sprintf(__('%{openedIssues} open, %{closedIssues} closed'), {
                    openedIssues: descendantCounts.openedIssues,
                    closedIssues: descendantCounts.closedIssues,
                  })
                }}
              </span>
            </p>
            <p class="font-weight-bold m-0">
              {{ __('Total weight') }} &#8226;
              <span class="font-weight-normal">{{ totalWeight }} </span>
            </p>
          </gl-tooltip>
          <div
            ref="countBadge"
            class="issue-count-badge gl-display-inline-flex text-secondary p-0 pr-3"
          >
            <span v-if="allowSubEpics" class="d-inline-flex align-items-center">
              <gl-icon name="epic" class="mr-1" />
              {{ totalEpicsCount }}
            </span>
            <span class="d-inline-flex align-items-center" :class="{ 'gl-ml-3': allowSubEpics }">
              <gl-icon name="issues" class="mr-1" />
              {{ totalIssuesCount }}
            </span>
            <span class="d-inline-flex align-items-center" :class="{ 'gl-ml-3': allowSubEpics }">
              <gl-icon name="weight" class="mr-1" />
              {{ totalWeight }}
            </span>
          </div>
        </div>
      </div>
      <div
        class="gl-display-flex gl-sm-display-inline-flex lh-100 align-middle gl-sm-ml-2 gl-ml-0 gl-flex-wrap gl-mt-2 gl-sm-mt-0"
      >
        <epic-health-status v-if="showHealthStatus" :health-status="healthStatus" />
      </div>
    </div>

    <div
      class="gl-display-flex gl-sm-display-inline-flex gl-sm-ml-auto lh-100 align-middle gl-mt-3 gl-sm-mt-0 gl-pl-0 gl-sm-pl-7"
    >
      <div
        v-if="parentItem.userPermissions.adminEpic"
        class="gl-flex-grow-1 flex-column flex-sm-row js-button-container"
      >
        <epic-actions-split-button
          :allow-sub-epics="allowSubEpics"
          class="js-add-epics-issues-button qa-add-epics-button w-100"
          @showAddIssueForm="showAddIssueForm"
          @showCreateIssueForm="showCreateIssueForm"
          @showAddEpicForm="showAddEpicForm"
          @showCreateEpicForm="showCreateEpicForm"
        />
      </div>
    </div>
  </div>
</template>
